
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Reset the box-sizing
//
// Universal Box Sizing with Inheritance
// https://css-tricks.com/box-sizing/

html {
  @include box-sizing(border-box);
}
*:before,
*:after {
  //@include box-sizing(inherit);
  box-sizing: inherit;
}

// Body reset
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}